apiVersion: apps/v1
kind: Deployment
metadata:
  name: lanchonetews
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lanchonetwsapp
  template:
    metadata:
      labels:
        app: lanchonetwsapp
    spec:
      containers:
        - name: lanchonetews
          image: wstecnologia/lanchonetews:latest
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: DB_HOST
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: DB_PASSWORD
            - name: DB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: DB_DATABASE
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: DB_PORT
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: PORT
            - name: HOST
              valueFrom:
                configMapKeyRef:
                  name: lanchonetews-config
                  key: HOST
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 120
            periodSeconds: 30
